<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\style.css">
</head>
<body>
<div class="login_signup_img">
  <form class="container_login" method="POST" action="/login">
      <label><b><h2>Login</h2></b></label><br>
    <label for="username"><b>Username</b></label>
    <input type="text" id="username" placeholder="Enter Username" name="username" required>
    <label for="password"><b>Password</b></label>
    <input type="password" id="password" name="password"
    placeholder="Enter your Password" required>
    <!-- Error Message Below Password Field -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <p class="error">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <br>
        <button type="submit">Login</button>

   <center> <a href="{{ url_for('update_password') }}">forgot password </a></center>
  </form>
</div>
</body>
</html>
