<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\style.css">
</head>
<body>
<div class="updatePasswd_page">
  <form class="container_update" method="POST" action="/update_password">
     <label><b><h2>Update Password</h2></b></label><br>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <label for="passwd_old"><b>Old Password</b></label>
    <input type="password" placeholder="Enter the old Password" name="passwd_old" required>
        <label for="passwd_new"><b>New Password</b></label>
    <input type="password" placeholder="Enter a new Password" name="passwd_new" required>
        <label for="passwd_confirm"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm your Password" name="passwd_confirm" required>   
    <!-- Display error messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <p class="error">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <button type="submit">Update</button>
    <br><br>
    <center><a href="/login">Back to Login</a></center>
  </form>
</div>
</body>
</html>
