.login_signup_img{
            background-image: url("img_bg.jpg");
            min-height: 100vh;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
.updatePasswd_page {
            background-image: url("img_bg.jpg");
            min-height: 100vh;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
 .container {
            position: relative;
            max-width: 600px;
	         max-height: 600px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
        }

.container_login {
            position: relative;
            max-width: 600px;
	         max-height: 700px;
            padding: 30px;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
        }
.container_update{
            position: relative;
            max-width: 500px;
            padding: 30px;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 4px 8px rgba(1,1,1,1);
        }
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;  /* Ensure background is white */
}

/* Optional: Change border color on focus for better UX */
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #66afe9;
    outline: none;
}
/* Set a style for all buttons */
button {
           background-color: #04AA6D;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
         border: none;
         cursor: pointer;
         width: 100%;
        }

.btn_home{
         background-color: #f899dd  ;
        color: white;
        padding: 20px;
      font-size: 16px;
      border-radius:12px;
      margin: 4px 2px;
}
.bg_home{
            background-image: url("bg_home.png");
            background-size: cover;
            display: flex;
            float :right;
        }
.flash-messages {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.flash-messages .success {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 10px;
    border: 1px solid #4F8A10;
}
